{% extends 'base.html' %} {% block content %}

{% for photo in event.photo_set.all %}
<img src="{{photo.url}}">
{% empty %}
<div>No Pictures Uploaded Yet</div>
{% endfor %}

<form action="{% url 'add_photo' event.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <input type="submit" class="btn" value="Upload Photo">
</form>
<div class="detailContainer">
<h1>Event Details</h1>
<h1>Event Name: {{event.name}}</h1>
<h3>Event Date: {{event.date}}</h3>
<h5>Event Category: {{event.category}}</h3>
<h5>Event Location: {{event.location}}</h3>
<h5>Event Address: {{event.address}}</h5>
<a href="update/" class = "btn">UPDATE</a>
<a href="delete/" class = "btn">DELETE</a>
</div>
{% endblock %}
