html {
  font-family: Merriweather;
  color: #222093;
}

#banner {
  background-color: #f8e7f8;
  color: #222093;
  height: 200px;
  padding: 1em 3em;
  box-shadow: none;
}

#text-color-brand {
  color: #222093;
  font-weight: bold;
}
#text-color {
  color: #222093;
}
#roboto {
  font-family: Roboto;
}
body {
  background-color: #f8e7f8;
}

#home {
  padding: 0em 2em;
}
#title {
  font-weight: bold;
}

.bg {
  background-color: #f8e7f8;
  border-radius: 25px;
}

#card-color {
  background-color: #1f1f7c;
  border-radius: 25px;
}

.input-field label {
  color: #000;
}
.shadow {
  box-shadow: #1f1f7c 10px 10px 10px;
}

#textarea1 {
  opacity: 0.25;
  border-bottom: none;
}

#no-bottom-border {
  border-bottom: none;
}
