html {
  color: #222093;
  font-family: Roboto;
  font-weight: bolder;
}

#banner {
  background-color: #f8e7f8;
  color: #222093;
  height: 200px;
  padding: 1em 3em;
  box-shadow: none;
}

#banner a {
  font-weight: 1000;
}

#text-color-brand {
  color: #222093;
  font-weight: bold;
}

#text-color {
  color: #222093;
}
#roboto {
  font-family: Roboto;
}
body {
  background-color: #f8e7f8;
}

.detailContainer {
  text-align: center;
}

#home {
  padding: 0em 2em;
}
#title {
  font-weight: bold;
  color: #1f1f7c;
  font-size: large;
}

.bg {
  background-color: #f8e7f8;
  border-radius: 25px;
}

#card-color {
  background-color: #1f1f7c;
  border-radius: 25px;
}

.input-field label {
  color: #000;
}

.shadow {
  box-shadow: #1f1f7c 10px 10px 10px;
}

#textarea1 {
  opacity: 0.5;
  border-bottom: none;
  color: #1f1f7c;
}

#logo {
  max-width: 40%;
  max-height: auto;
  margin: -5em;
}

#card-cover.login-form {
  padding: 1em;
}

#text-color-light {
  color: #f8e7f8;
}

::placeholder {
  color: #1f1f7c;
  opacity: 0.5;
}

#no-bottom-border {
  border-bottom: none;
}

.active {
  color: #1f1f7c;
  font-family: Roboto;
  background-color: #f8e7f8;
}

#login-form {
  padding: 20px;
  color: #222093;
}

#login-button {
  background-color: #f8e7f8;
  color: black;
}

label {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto;
  background-color: #f8e7f8;
}

input {
  text-align: center;
}

.link-color {
  color: #e499cf;
  font-weight: bold;
}

.dropdown-trigger {
  color: #1f1f7c;
}
hr {
  border: 1px solid #1f1f7c;
}

.btn {
  background-color: #1f1f7c;
  color: #f8e7f8;
}

.brand-logo {
  margin-left: -1em;
}
